@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --color1: rgb(88, 104, 100);
  --color2: rgb(214, 235, 228);
  --color3: rgb(241, 251, 247);
  --color4: rgb(149, 56, 56);
  --color5: rgb(58, 133, 32);
}

body {
  background: url(./images/leaves.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

#container {
  width: clamp(230px, 70vw, 600px);
  height: clamp(260px, 70vh, 450px);
  background-color: rgba(172, 198, 187, 0.95);
  border-radius: 20px;
  border: 7px double rgba(188, 214, 203, 0.95);
  display: grid;
  grid-template-rows: 15fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1px, 2.5vh, 20px);
}

input {
  text-align: center;
  padding: 3px;
  border-radius: 9px;
  font-size: clamp(15px, 3.5vw, 22px);
  color: var(--color1);
  border: 3px double rgba(188, 214, 203, 0.95);
  outline: none;
}

input:hover, #submit:hover {
  transform: scale(1.1);
}

input:active, input:focus {
  box-shadow: 0 0 25px var(--color3);
  transform: scale(1.1);
}

.errorInput {
  box-shadow: 0 0 12px var(--color4);
}

.correctInput {
  box-shadow: 0 0 12px var(--color5);
}

::placeholder {
  color:rgb(115, 176, 151)
}

h2 {
  font-size: clamp(15px, 3.5vw, 22px);
  color: var(--color5);
}

.error {
  color: var(--color4);
}

.success {
  color: var(--color5);
}

#submit {
  padding: 3px 9px;
  font-size: clamp(15px, 3vw, 22px);
  font-weight: bold;
  letter-spacing: 1.3px;
  border-radius: 9px;
  border: 3px double rgba(188, 214, 203, 0.95);
  background-color: var(--color1);
  color: var(--color2);
  cursor: pointer;
}

#submit:focus {
  outline: none;
}
