@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --color1: rgb(88, 104, 100);
  --color2: rgb(139, 132, 124);
  --color3: rgb(214, 235, 228);
  --color4: rgb(140, 156, 152);
  --color5: rgb(181, 194, 190);
  --green: rgb(107, 139, 82);
  --red: rgb(208, 77, 77);
}

body {
  background: url(./images/leaves.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

#container {
  width: clamp(230px, 70vw, 600px);
  height: clamp(260px, 70vh, 450px);
  background-color: rgba(172, 198, 187, 0.95);
  border-radius: 20px;
  border: 7px double rgba(188, 214, 203, 0.95);
  display: grid;
  grid-template-rows: 7fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1px, 1.5vh, 20px);
}

input {
  text-align: center;
  padding: 3px;
  border-radius: 9px;
  font-size: clamp(15px, 3vw, 22px);
  color: var(--color1);
  border: 3px double rgba(188, 214, 203, 0.95);
}

h2 {
  font-size: clamp(15px, 3vw, 22px);
}

#submit {
  padding: 3px 9px;
  font-size: clamp(15px, 3vw, 22px);
  font-weight: bold;
  letter-spacing: 1.3px;
  border-radius: 9px;
  border: 3px double rgba(84, 80, 76, 0.95);
  background-color: var(--color2);
  color: var(--color3);
}
